.root {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.root_pulsed {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.root > div {
  background-color: #ccc;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
